/* Global settings */
:root {
  --primary-bg-color: #100079;
  --scrollbar-track-color: #014eca;
  --scrollbar-thumb-color: rgba(15, 118, 132, 0.959);
  --scrollbar-thumb-hover-color: rgba(21, 4, 212, 0.911);
  --navbar-bg-color: rgb(0, 25, 43);
  --navbar-toggler-color: #02d9ff;
  --home-bg-image: url(./assets/home-bg.jpg);
  --underline-color: #02d9ff;
  --particle-fixed-bg: #181a27;
  --social-icon-bg: rgba(255, 255, 255, 0.972);
  --social-icon-hover-color: #1ee5ff;
  --social-icon-bg-hover: #00195c;
  --footer-bg-color: rgb(0, 25, 43);
  --icon-color: #00c3ff;
}

.turquoise {
  color: var(--navbar-toggler-color) !important;
}

button:focus {
  box-shadow: none !important;
}



/* --------- */
/* Preloader */
/* --------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999; /* Highest z-index so it will be on top of everything */
  background-color: var(--particle-fixed-bg); /* Background color */
}

/* Hide scrollbar for preloader */
#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* --------- */
/* Scrollbar */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(21, 4, 212, 0.911);
  border-radius: 12px;
}

/* ------ */
/* Navbar */
/* ------ */

/* Base styles for the navbar, making it fixed and applying a transition for smoothness. */
.navbar, .sticky {
  position: fixed !important; /* Ensure navbar is fixed at the top */
  transition: all 0.3s ease-out 0s !important; /* Smooth transition for any property changes */
}

/* Sticky Navbar Specific Styles */
/* Makes the navbar stick to the top of the viewport and applies a frosted glass look with a blur effect. */
.sticky {
  background-color: var(--navbar-bg-color) !important; /* Semi-transparent background */
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important; /* Soft shadow for depth */
  backdrop-filter: blur(15px) !important; /* Blur effect for the background content */
}

/* Navbar Basic Styles */
.navbar {
  padding: 0.3rem 2rem !important; /* Padding inside the navbar for space */
  font-size: 1.2rem !important; /* Text size within the navbar for readability */
}

/* Navbar Toggler Styles */
/* Styles for the navbar toggler, includes transparent background and border. */
.navbar-toggler {
  position: relative !important;
  background-color: transparent !important; /* Transparent background */
  border-color: transparent !important; /* Transparent border */
}

/* Hamburger Icon Style */
/* Style for the spans inside the navbar toggler, making them look like a hamburger icon. */
.navbar-toggler span {
  display: block !important;
  background-color: #05b2d1 !important; /* Turquoise color for the toggler lines */
  height: 4px !important;
  width: 27px !important;
  margin: 5px 0 !important; /* Spacing between lines */
  transform: rotate(0deg) !important;
  opacity: 1 !important;
}

/* Focus and Active States for Toggler */
/* Remove the outline on focus for the toggler and maintain styles when active. */
.navbar-toggler:focus, .navbar-toggler:active {
  outline: 0 !important;
}

/* Toggler Animation */
/* Animations for the toggler lines when the navbar is expanded/collapsed. */
.navbar-toggler span:nth-child(1), .navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important; /* Smooth transition for transformation */
}

/* 'X' Transformation */
/* Transformations for the top and bottom lines of the toggler to create an 'X' when active. */
.navbar-toggler:not(.collapsed) span:nth-child(1), .navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  transform: rotate(135deg) !important; /* Rotate to form 'X' */
}

/* Middle Span Visibility */
/* Hide the middle span when toggler is active to form the 'X'. */
.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
}

/* Navbar Brand and Logo Styles */
.navbar-brand {
  color: rgb(250, 250, 250) !important; /* Light color for visibility against the background */
}

.logo {
  width: 3.5em !important; /* Logo size adjustment */
}

/* Navbar Navigation Link Styles */
/* Styling for navigation links within the navbar, including flexbox for alignment. */
.navbar-nav .nav-link, .navbar-nav .nav-item a {
  color: white !important; /* Text color for readability */
  padding: 0 1rem !important; /* Horizontal spacing */
  cursor: pointer; /* Change cursor to pointer to indicate clickability */
  display: flex; /* Use Flexbox for layout */
  align-items: center; /* Center items vertically */
  gap: 8px; /* Space between icon and text */
  margin-bottom: 10px;
  margin-left: 100px;
}

/* Navbar Item Positioning */
.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px; /* Spacing between navbar items */
}

/* Hover Effect for Navbar Links */
.navbar-nav .nav-item a::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: var(--underline-color); /* Color of the underline */
  z-index: -1;
  transition: all 0.3s ease-out 0s; /* Animation for expanding underline */
}

.navbar-nav .nav-item a:hover::after {
  width: 100%; /* Expand the underline on hover */
}

/* Responsive Adjustments */
@media (max-width: 767px) {
  .navbar, .navbar-nav .nav-link {
    padding: 1rem 2rem !important; /* Adjust padding for smaller screens */
    font-size: 1.4rem !important; /* Increase font size for readability on smaller devices */
    background-color: var(--particle-fixed-bg) !important; /* Ensure contrast and visibility */
  }

  .navbar-nav .nav-item a::after {
    display: none !important; /* Remove underline effect on smaller screens for simplicity */
  }
}


/* --------- */
/* Home section */
/* --------- */

/* Applies a waving animation to elements with the .wave class */
.wave {
  animation-duration: 2.1s; /* Duration of each wave animation cycle */
  transform-origin: 70% 70%; /* Sets the origin of transformation to bottom-left palm for natural wave effect */
  display: inline-block; /* Allows the animation to apply as elements are inline but need block behaviors */
}

/* Keyframes for the wave animation, simulating a hand wave */
@keyframes wave-animation {
  0%, 60%, 100% {
    transform: rotate(0deg); /* Starts, pauses, and ends in the original position */
  }
  10% {
    transform: rotate(14deg); /* Waves up */
  }
  20% {
    transform: rotate(-8deg); /* Waves down */
  }
  30% {
    transform: rotate(14deg); /* Waves up again for a lively wave */
  }
  40% {
    transform: rotate(-4deg); /* Slight wave down */
  }
  50% {
    transform: rotate(10deg); /* Back up */
  }
  /* This creates a smooth, repeating wave motion */
}

/* Styles for the particle effect background in the home section */
#tsparticles {
  position: fixed !important; /* Ensures particles are behind other content and cover the full screen */
  background-repeat: no-repeat !important;
  background-size: cover !important; /* Cover the entire area of the element */
  width: 100%;
  height: 100%;
}

/* Padding at the top of the home header, creating space */
.home-header {
  padding-top: 80px !important;
}

/* The main container for the home section, setting up background image and positioning */
.home-section {
  z-index: -1; /* Ensures content layers above the background */
  background-image: var(--image-gradient), var(--home-bg-image); /* A gradient on top of an image for depth */
  background-position: top center; /* Ensures background image is centered */
  background-repeat: no-repeat; /* Background image does not repeat */
  padding: 30px !important; /* Spacing at the top and bottom */
}

/* Styling for the content within the home section */
.home-content {
  padding: 9rem 0 2rem !important; /* Ample padding around content for focus */
  color: whitesmoke; /* Light color for text to stand out */
  text-align: left; /* Aligns text to the left */
}

/* Headings within the home section, including font size adjustments */
.heading {
  font-size: 2.4em !important;
  padding-left: 50px !important; /* Adds spacing to the left for alignment */
}

.heading-name {
  font-size: 2.5em !important;
  padding-left: 45px !important; /* Slightly less padding than .heading for a staggered effect */
}

/* Specific style for main names, changing the color for emphasis */
.main-name {
  color: var(--navbar-toggler-color); /* Bright turquoise for visual interest */
}

/* Styles for a typewriter effect, including colors and font sizes */
.Typewriter__wrapper,
.Typewriter__cursor {
  font-size: 2.2em !important; /* Large font size for visibility */
  color: #ffffff !important; /* White color for thematic consistency */
  font-weight: 600 !important; /* Makes text bolder */
}

.Typewriter__cursor {
  font-size: 2.4em !important; /* Slightly larger cursor for emphasis */
  color: #34f5ff !important; /* Different shade of turquoise for contrast */
}

/* Responsive adjustments for the typewriter effect on smaller screens */
@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em !important; /* Smaller font size for screen space conservation */
    font-weight: 500 !important; /* Slightly lighter weight for readability */
    position: absolute !important; /* Positioning to handle mobile layouts */
  }
  .Typewriter__cursor {
    display: none !important; /* Hide cursor on small screens for clarity */
  }
}

/* Styles for avatar positioning and spacing within the home section */
.Logo {
  justify-content: center !important; /* Center avatar horizontally */
  padding-top: 9em !important; /* Space from the top */
}

@media (max-width: 767px) {
  .Logo {
    padding-top: 2em !important; /* Adjust padding top for smaller screens */
    padding-bottom: 2em !important; /* Adds bottom padding for balance */
  }
}

/* General styling for the about section within the home page */
.home-about-section {
  position: relative;
  padding-bottom: 70px !important; /* Spacing at the bottom */
  padding-top: 70px !important; /* Spacing at the top */
}

/* Styles for the about section's description, ensuring readability and focus */
.home-about-description {
  color: white !important; /* Text color for contrast */
  padding-top: 100px !important; /* Top spacing for separation from other content */
  padding-bottom: 20px !important; /* Bottom spacing for grouping text */
  text-align: center; /* Centers the text for focus */
}

/* Style for the image container */
.image-container {
  position: relative; /* Establishes a positioning context for absolute children */
  display: inline-block; /* Adjust as necessary to fit your layout */
}

/* Style for the line directly below the image */
.image-divider {
  display: block;
  height: 2px; /* Thickness of the line */
  background-color: #ffffff; /* Color of the line */
  position: absolute;
  bottom: 0; /* Aligns the line to the bottom of the image container */
  left: 0;
  right: 0;
}

/* Styling for the profile picture, ensuring it maintains its aspect ratio */
.profile-picture {
  max-height: 450px;
  width: auto; /* Ensure the width is auto to maintain the aspect ratio */
  height: auto; /* Ensure the height is auto to maintain the aspect ratio */
}

@media (max-width: 768px) {
  .profile-picture {
    max-height: 300px;
  }
}

@media (max-width: 480px) {
  .profile-picture {
    max-height: 200px;
  }
}

/* Different shade for the background starting just below the line */
.background-shade {
  background-color: var(--footer-bg-color);
  border-radius: 5%;
}

/* Body text within the about section, styled for readability */
.home-about-body {
  padding-top: 50px; /* Space above the body text */
  font-size: 1.2em !important; /* Slightly larger font size for readability */
  text-align: left; /* Align text to the left for a consistent reading flow */
}

/* Styling for the tech icons section, including size, spacing, and visual effects */
.tech-icons {
  font-size: 4.5em !important;
  margin: 15px !important;
  padding: 10px !important;
  opacity: 0.93 !important;
  border: 1.7px solid rgba(0, 187, 255, 0.637) !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
}

/* Responsive adjustments for tech icons on smaller screens */
@media (max-width: 767px) {
  .tech-icons {
    margin: 10px !important;
  }
}

/* Hover effect for tech icons, adding a sense of interaction */
.tech-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 2.2px solid whitesmoke !important;
}

/* Styling for the tech icon images, including padding and line height */
.tech-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}

/* Specific color styling for icons */
.icon-colour {
  color: #ffffff !important; /* Turquoise color for icons */
}

/* -------- */
/* Projects */
/* -------- */

/* This section styles the overall container of the projects, including its position, padding, and background. */
.project-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important; /* Uses a CSS variable for background color */
}

/* Heading Styles */
/* Styles for headings within the project section, setting font size, weight, color, and padding. */
.project-heading {
  color: rgb(255, 255, 255) !important; /* White color for contrast */
  font-size: 2.3em !important; /* Large font size for emphasis */
  font-weight: 500 !important; /* Medium font weight */
  padding-top: 10px !important; /* Top padding */
}

/* Project Card Styles */
/* These styles apply to individual project cards, setting their padding and ensuring their height is automatic. */
.project-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  height: auto !important; /* Automatically adjust height based on content */
}

/* Project Card View Styles */
/* Styles for the visual presentation of a project card, including shadows, colors, and hover effects. */
.project-card-view {
  box-shadow: 0 4px 5px 3px rgba(0, 255, 255, 0.749) !important; /* Soft turquoise shadow for depth */
  color: white !important; /* White text color */
  background-color: transparent !important; /* Transparent background for overlay effects */
  opacity: 0.9 !important; /* Slightly transparent */
  transition: all 0.5s ease 0s !important; /* Smooth transition for hover effects */
  height: 100% !important; /* Full height */
}
.project-card-view:hover {
  transform: scale(1.02) !important; /* Slightly enlarge on hover */
  overflow: hidden !important; /* Prevent overflow */
  box-shadow: 0 4px 4px 5px #025056 !important; /* Darker shadow on hover for depth */
}

/* Image and Button Styles */
/* Additional styles for images and buttons within the cards, including padding, opacity, and border radius. */
.card-img-top {
  padding: 20px !important;
  opacity: 0.8 !important; /* Slightly transparent */
  border-radius: 10px !important; /* Rounded corners */
}

/* Button Styles */
/* Primary button styles, including colors, borders, and hover effects. */
.btn-primary {
  color: #fff !important;
  background-color: #07a4d3 !important; /* Turquoise background */
  border-color: #00eeff !important; /* Matching border color */
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #05838b !important; /* Darker blue on hover */
  border-color: #05d6e4 !important;
}

.btn:focus {
  outline: none !important; /* Remove focus outline */
  box-shadow: none !important; /* Remove focus shadow */
}

/* ------------ */
/* Social Links */
/* ------------ */

/* Social links section within the about area, centered for visual balance */
.home-about-social {
  text-align: center !important; /* Ensures social icons are centered */
  padding-top: 25px; /* Spacing above the social icons */
  color: white !important; /* White color for icons for contrast */
  z-index: 10; /* Higher than the tsparticles */
  position: relative; /* Needed for z-index to take effect */
}

/* Container for social links, ensuring they are centered and properly spaced */
.home-about-social-links {
  justify-content: center !important; /* Centers social links horizontally */
  padding-top: 15px !important; /* Spacing above the links */
  display: inline-block !important; /* Allows for inline layout with block behaviors */
  position: relative !important; /* Establishes a stacking context */
  padding-inline-start: 0 !important; /* Removes default padding */
  pointer-events: auto; /* Enables pointer events for interaction */
}

/* Individual social icon styling, including size, color, and interaction effects */
.home-social-icons {
  position: relative !important; /* Needed for positioning effects */
  display: inline-block !important; /* Allows icons to sit side by side */
  width: px !important; /* Fixed width for icons */
  height: 40px !important; /* Fixed height for icons */
  text-align: center !important; /* Centers the icon within the circle */
  font-size: 2.2em !important; /* Size of the icon */
  line-height: 3em !important; /* Centers the icon vertically */
  background: #07a4d3 !important; /* White background with slight transparency */
  border-radius: 40% !important; /* Rounds the edges into a circle */
  transition: 0.5s !important; /* Smooth transition for hover effects */
}

/* Hover effect for social icons, giving a sense of interaction */
.home-social-icons:hover {
  color: #207f9e; /* Changes icon color on hover */
  box-shadow: 0 0 5px #0099ff; /* Shadow for depth */
  text-shadow: 0 0 2px #0099ff; /* Text shadow for emphasis */
}

/* Background effect for icons, adding depth and visual interest */
.home-social-icons::before {
  content: ""; /* Necessary for pseudo-elements */
  position: absolute; /* Positions relative to the icon */
  top: 0;
  left: 0;
  width: 100%; /* Full width of the icon */
  height: 100%; /* Full height of the icon */
  border-radius: 50%; /* Maintains circular shape */
  background: var(--navbar-toggler-color); /* Blue background for thematic consistency */
  transition: 0.5s; /* Smooth transition for hover effects */
  z-index: -1; /* Sits behind the icon */
}

/* Enhances the hover effect, making the background and shadow more pronounced */
.home-social-icons:hover::before {
  transform: scale(1.1); /* Scales up for a subtle pop */
  box-shadow: 0 0 15px #0072fd; /* Larger shadow for depth */
}

/* Additional styling for other social icons not specifically classified */
.social-icons {
  display: inline-block !important; /* Inline with block behaviors */
  padding-right: 15px; /* Spacing to the right */
  padding-left: 15px; /* Spacing to the left */
  pointer-events: auto; /* Enables pointer events for interaction */
}


/* ------ */
/* Footer */
/* ------ */

/* General footer styles, setting the background color, ensuring it sticks to the bottom, and applying padding for spacing. */
.footer {
  background-color: var(--footer-bg-color);; /* Dark blue background color */
  bottom: 0 !important; /* Anchor to the bottom of its container */
  padding-top: 10px !important; /* Space above footer content */
  padding-bottom: 8px !important; /* Space below footer content */
  backdrop-filter: blur(15px) !important; /* Blur effect on the background content */
}

/* Style for the copyright section of the footer, centering the text. */
.footer-copywright {
  text-align: center !important; /* Ensures text is always centered, important for responsiveness */
}

/* Style for the body of the footer containing links or info, centered. */
.footer-body {
  z-index: 1; /* Ensures the footer content is above other page elements if they overlap */
  text-align: center !important; /* Centers the content, making it consistent and visually balanced */
}

/* Responsive adjustments for the footer on smaller screens. These ensure that the footer's content remains centered, no matter the screen size. */
@media (max-width: 767px) {
  .footer-copywright,
  .footer-body {
    text-align: center !important; /* Center aligns text for smaller screens, improving readability */
  }
}

/* Style for headings within the footer, setting font size, color, and margin for visual hierarchy and spacing. */
.footer h3 {
  font-size: 1em; /* Sets a standard size for heading text within the footer */
  color: white !important; /* Ensures high contrast of text against the dark background */
  margin-top: 0.5em !important; /* Top margin for spacing */
  margin-bottom: 0.5em !important; /* Bottom margin for spacing */
}

/* Style for icons container in the footer, adjusting margins and padding for layout and spacing. */
.footer-icons {
  margin-top: 0.5em !important; /* Top margin for spacing above the icons */
  margin-bottom: 0.5em !important; /* Bottom margin for spacing below the icons */
  padding: 0 !important; /* Removes padding to ensure alignment and spacing are consistent */
}